---
name: Commit Lint

# yamllint disable-line rule:truthy - false positive
on:
  push:
  pull_request:

jobs:
  commit-lint:
    name: Commit Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlint.config.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
